html {
  box-sizing: border-box
}

/* The Universal Selector */
*,
/* All elements*/
*::before,
/* All ::before pseudo-elements */
*::after {
  /* All ::after pseudo-elements */
  /* height & width will now include border & padding by default
     but can be over-ridden as needed */
  box-sizing: inherit;
}

/* resets font size to be 62.5% of the user preference - 
   in most browser configurations this will be 10px */
:root {
  font-size: 62.5%;
}

body {
  background-color: rgb(4, 73, 70);
  /* Use a system font, if none are available use an available sans-sarif   font */
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
  Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

main{
  height: 400px;
  width:300px;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 5% 25% 15% 20% 20% 15%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

#status {
  grid-column: 1/3;
  justify-content: flex-end;
  padding-right: 10px;
}

img{
  border-radius: 50%;
  border: lightgreen solid 2px;
  max-width: 80px;
  max-height: 80px;
}

#image-container{
  grid-column: 1/3;
}

#name {
  grid-column: 1/3;
  margin:0;
  padding:0 10px;
}

#occupation {
  grid-column: 1/3;
  flex-direction: column;
}

#occupation,
#name,
#status,
#image-container{
  background-color: white;
}


#occupation > p,
#offer > p{
  margin:0;
}

#brand {
  display: none;
}

#offer {
  background-color: white;
  grid-column: 1/3;
  flex-direction: column;
}

#contact {
  grid-column: 1/3;
  justify-content: space-around;
  font-size: 30px;
  background-color: white;
}

#contact > p{
  width:100%;
  height:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:0;
  padding:5px;
}

#contact > p:first-child{
  background-color: lightgreen;
}

#contact > p:last-child{
  background-color: lightseagreen;
}

@media only screen and (min-width:1024px){
  main{
    width:500px;
    height:200px;
    display: grid;
    text-align: left;
    grid-template-columns: 20% 20% 60%;
    grid-template-rows: 10% 10% 30% 30% 20%;
  }

  #status{
    grid-column: 1/3;
    justify-content: flex-start;
    padding: 2px 0 0 10px;
  }

  #image-container{
    grid-area:2/1/5/3;
  }

  img{
    width:80px;
  }

  #name{
    grid-area:1/3/3/4;
    justify-content: flex-start;
  }

  #occupation{
    grid-area:3/3/4/4;
    display: block;
    text-align: left;
    padding: 15px;
  }

  #brand{
    display: flex;
    grid-area:4/3/5/4;
  }

  #offer{
    grid-area:5/3/6/4;
    display: block;
    text-align: left;
    padding: 8px;
  }

  #name,
  #brand,
  #occupation,
  #offer{
    background-color: lightgrey;
    padding-left:20px;
  }

  #offer > p,
  #brand > p{
    display: flex;
    margin:0;
    text-align: left;
  }

  #contact{
    grid-area:5/1/6/3;
  }
}